{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_unused_import,
    warn_export_vars,
    verbose,
    report,
    {i, "src"}
]}.
{base_dir, "../../../build/rebar3"}.

{deps, []}.

{dialyzer, [
    {warnings, [
        % Basic Warnings
        no_return,
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        no_contracts,
        no_behaviours,
        no_undefined_callbacks,

        % Additional Stuff
        unmatched_returns,
        error_handling,
        no_underspecs,
        no_unknown
    ]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {base_plt_apps, [erts, kernel, stdlib]},
    {base_plt_location, local},
    {plt_location, local},
    incremental
]}.

{profiles, [
    {nix, [
        {plugins, [
            {rebar3_nix, ".*",
                {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
        ]}
    ]}
]}.
